body{
   font-family: Lato, Arial; 
   color: #595241;
   padding: 55px 25px;
   background-color: #ffffff;
   text-align: center;
}
h1 {
   font-weight: normal;
   font-size: 40px;
   font-weight: normal;
   text-transform: uppercase;
   span { 
       font-size: 13px;
       display: block;
       padding-left: 4px;
   }
}
#image{
   // padding: 5px;
   // border: #000 solid 3px;
}
#btn{
   background-color:  #accfcc;
   color: #fff;
   cursor: pointer;
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 10px;
   font-size: 20px;
   &:focus{
      outline: none;
   }
}

#upload{
   padding-top: 30px;
}
//for custom-file-upload
#fileName{
//    display: inline-block;
//    width: 200px;
//    text-align: right;
   font-size: 14px;
   color: #fff;
   padding: 5px;
   background-color: #b8ae9c;
   opacity: 0.5;
}
input[type="file"] {
   display: none;
}
.custom-file-upload {
   width: 150px;
   cursor: pointer;
   text-align: center;
   font-size: 14px;
   padding: 5px;
   color: #fff;
   background-color:  #595241;
   &:hover{
      background-color: #383328;
      transition: background-color 0.5s;
   }
}

//reset
button{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
*,
*::after,
*::before{
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}