.github-link{
    color: #000;
    &:hover{
        color: #b7b3a4;
        transition: 0.5s;
    }
}
#custom-download-btn{
    cursor: pointer;
    font-size: 10px;
    margin-left: 3px;
    padding: 3px;
    position: absolute;
    display: none;
    &:hover{
        color: #fff;
        background-color: #595241;
        transition: 0.5s;
    }
}
.demo-aag{
    cursor: pointer;
    border: 1px solid #595241;
    margin-right: 10px;
    margin-left: 10px; 
    padding: 5px;
    &:hover{
        color: #fff;
        background-color: #595241;
        transition: 0.5s;
    }
}

//for svg scaling
#image > svg {
    max-width: 100%;
    height: 100%;
}

body{
   color: #595241;
   padding: 55px 25px;
   background-color: #ffffff;
   text-align: center;
   display: none;
}
h1 {
   font-weight: normal;
   font-size: 60px;
   font-weight: normal;

   span { 
       font-size: 18px;
       display: block;
       padding-left: 4px;
       padding-left: 10px;
   }
}
#image{
   // padding: 5px;
   // border: #000 solid 3px;
}
#btn{
   background-color:  #accfcc;
   color: #fff;
   cursor: pointer;
   margin-top: 30px;
   margin-bottom: 30px;
   padding: 30px;
   font-size: 20px;
   &:hover{
      background-color: #93b0ae;
      transition: background-color 0.5s;
   }
}

#upload{
   padding-top: 30px;
}
//for custom-file-upload
#fileName{
//    display: inline-block;
//    width: 120px;
//    text-align: right;
   font-size: 16px;
   font-family: 'Josefin Slab', serif;
   color: #000;
   padding: 8px;
   background-color: #b8ae9c;
   opacity: 0.2;
}
input[type="file"] {
   display: none;
}
.custom-file-upload {
   width: 150px;
   cursor: pointer;
   text-align: center;
   font-size: 16px;
   padding: 8px;
   color: #fff;
   font-family: 'Josefin Slab', serif;
   background-color:  #b3b69e;
   &:hover{
      background-color: #595241;
      transition: background-color 0.2s;
   }
}
*:focus{
    outline: none;
}
//reset
button{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
*,
*::after,
*::before{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Slab', serif;
}